<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmdetaljer</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
    <h1>Filmdetalj</h1>
</header>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/all-movies">All Movies</a></li>
        <li><a href="/search-movie">Search Movie</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/admin">Admin</a></li>
        <li>
            <form th:action="@{/logout}" method="post" class="logout-form">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="logout-button">Logga ut</button>
            </form>
        </li>
    </ul>
</nav>


<div class="form-container">
    <div class="movie-detail">
        <img th:src="'https://image.tmdb.org/t/p/w500' + ${movie.poster_path}" alt="Movie Poster" class="movie-poster"/>
        <h2 th:text="${movie.title}"></h2>
        <p th:text="${movie.overview}"></p>
        <p><strong>Release Date:</strong> <span th:text="${movie.release_date}"></span></p>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="form-container">
<form action="#" th:action="@{/movie-detail/{id}(id=${movie.id})}" th:object="${movie}" method="post">

    <input type="hidden" th:field="${movie.poster_path}"/>
    <input type="hidden" th:field="${movie.title}"/>
    <textarea rows="10" cols="50" th:field="*{overview}" placeholder="Update description"></textarea>

    <button type="submit">Save</button>

</form>
</div>



<footer>
    <p>&copy; 2025 Gang Gang.</p>
</footer>

</body>
</html>